$primary-color: #EC1D24;
$primary-dark-color: #d02428;

$background-muted-color: #151515;
$background-muted-ligth-color: #202020;
$background-inverted-color: #FFFFFF;

$text-inverted-color: #FFFFFF;
$text-inverted-dark-color: #999;
$text-muted-color: #202020;

$border-gray: #393939;