.is-m-0 {
    margin: 0;
}

.is-p-0 {
    padding: 0;
}

.is-p-4 {
    padding: 1rem;
}


.is-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.is-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.is-relative {
    position: relative;
}

.is-flex {
    display: flex;
}

.is-flex-col {
    flex-direction: column;
}

.is-flex-wrap {
    flex-wrap: wrap;
}

.is-flex-gap-4 {
    gap: 1rem;
}

.is-items-center {
    align-items: center;
}

.is-justify-between {
    justify-content: space-between;
}

.is-justify-center {
    justify-content: center;
}

.is-hidden {
    display: none;
}

.is-h-full {
    height: 100%;
}

.is-w-full {
    width: 100%;
}

.is-w-max-80 {
    max-width: 20rem;
}

.is-gap-4 {
    gap: 1rem;
}

.is-justify-start {
    justify-content: flex-start;
}

.is-justify-center {
    justify-content: center;
}

.is-self-center {
    justify-self: center;
}