@use "../settings/variables";

body {
    color: variables.$text-muted-color;
    font-family: variables.$fs-family;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}